.main-chat
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        = @group.name
      .main-header__left-box__member-list
        Member :  
        .main-header__left-box__member-list__member
          - @group.users.each do |user|
            = user.name

    = link_to edit_group_path(@group),class:"main-header__edit-btn" do
      Edit
        

  .main-chat__message-list
    = render @messages




  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message' 
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'